header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #19323C;
    color: #F3F7F0;
    height: 120px;
}

h1 {
    display: flex;
    font-size: 300%;
    background-color: #5E8C61;
    color: #F3F7F0;
    position: relative;
    padding-left: 125px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    right: 20px;
    font-family: 'Courier New', Courier, monospace;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 600px;
}

nav a {
    color: #F3F7F0;
    font-weight: bold;
    text-decoration: underline;
    font-size: 175%;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    display: flex;
    font-size: 250%;
    position: relative;
    color: #F3F7F0;
    left: 1300px;
    top: 125px;
}

.bg-image {
    background-image: url("https://i.imgur.com/BB7Uwrp.jpg");
    padding: 150px;
    background-repeat: no-repeat;
    background-size: 225vh 60vh;
}

.about-me p {
    height: 100px;
    width: 1000px;
    padding-left: 40px;
    font-size: 120%;
    color: #19323C;
    box-sizing: border-box;
    border-left: 8px solid #5E8C61;
    line-height: 120%;
    position: relative;
    left: 750px;
}

 .about-me-title {
    font-size: 550%;
    position: relative;
    display: flex;
    left: 110px;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-top: 40px;
    text-decoration: underline;
    color: #19323C;
}

.css-bg-image {
    background-image: url("https://i.imgur.com/cTI9QHt.jpg");
    padding: 90px;
    background-repeat: no-repeat;
    background-size: 40vh 25vh;
    position: relative;
    left: 800px;
    top: 150px;
    border-left: 8px solid #5E8C61;
    box-sizing: border-box;
}
.my-work{
    font-size: 550%;
    position: relative;
    display: flex;
    margin-left: 60px;
    margin-top: 40px;
    left: 110px;
    top: 150px;
    text-decoration: underline;
    color: #19323C;
}
.css-bg-image #CSS {
    display: flex;
    position: relative;
    bottom: 80px;
    right: 75px;
    font-weight: bold;
    font-size: 20px;
    color: #F3F7F0;
    text-decoration: underline;
}

.contact-me-title {
    font-size: 550%;
    position: relative;
    display: flex;
    margin-left: 60px;
    margin-top: 40px;
    left: 85px;
    top: 220px;
    text-decoration: underline;
    color: #19323C;
}

.contact-me p {
    display: flex;
    position: relative;
    top: 300px;
    left: 600px;
    font-weight: bold;
    font-size: larger;
    color: #19323C;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact-me ul {
    text-decoration: underline;
    line-height: 135px;
    font-weight: bold;
    font-size: 225%;
    position: relative;
    top: 300px;
    left: 600px;
    color: #19323C;
}