* {
    scroll-behavior: smooth;
}

body {
    background-color:#19323C ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #19323C;
    color: #F3F7F0;
    height: 120px;
}

h1 {
    display: flex;
    font-size: 300%;
    background-color: #5E8C61;
    color: #F3F7F0;
    position: relative;
    padding-left: 125px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    right: 20px;
    font-family: 'Courier New', Courier, monospace;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 600px;
}

nav a {
    color: #F3F7F0;
    font-weight: bold;
    text-decoration: underline;
    font-size: 175%;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    display: flex;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 220%;
    position: relative;
    color: black;
    left: 365px; 
    top: 140px;
    max-width: 900px;
    flex-wrap: wrap;
}

.bg-image {
    background-image: url("https://i.imgur.com/BB7Uwrp.jpg");
    padding: 150px;
    background-repeat: no-repeat;
    background-size: 225vh 60vh;
    max-width: 1500px;
    min-height: 300px;
    min width: 768px;
}

#about-me{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.about-me p {
    /* height: 100px; */
    /* width: 1000px; */
    padding-left: 40px;
    font-size: 120%;
    color: #F3F7F0;
    box-sizing: border-box;
    border-left: 8px solid #5E8C61;
    line-height: 120%;
    position: relative;
    display: block;
    bottom: 80px;
    left: 750px;
    max-width: 900px;
    line-height: 35px;
}

 .about-me-title {
    font-size: 550%;
    position: relative;
    /* display: flex; */
    left: 110px;
    /* flex-wrap: wrap; */
    margin-left: 60px;
    margin-top: 40px;
    text-decoration: underline;
    color: #5E8C61;
}

.css-bg-image {
    background-image: url("https://i.imgur.com/cTI9QHt.jpg");
    padding: 90px;
    background-repeat: no-repeat;
    background-size: 20vh 25vh;
    position: relative;
    left: 800px;
    top: 550px;
    border-left: 8px solid #5E8C61;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 50px;
}
.my-work{
    font-size: 550%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-top: 40px;
    left: 110px;
    top: 850px;
    text-decoration: underline;
    color: #5E8C61;
}

.css-bg-image {
    display: flex;
    position: absolute;
    top: 1000px;;
    border-left: 8px solid #5E8C61;
}

.css-bg-image #CSS {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 155px;
    left: 75px;
    font-weight: bold;
    font-size: 20px;
    color: #F3F7F0;
    text-decoration: underline;
}

.image-one {
    background-image: url("https://i.imgur.com/MUH4g9X.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-size: 20vh 15vh;
    padding: 75px;
    left: 1100px;
    top: 80px;
}

.image-two {
    background-image: url("https://i.imgur.com/MUH4g9X.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-size: 20vh 15vh;
    padding: 75px;
    left: 1100px;
    top: 100px;
}


.contact-me-title {
    font-size: 550%;
    position: absolute;
    display: flex;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
    left: 85px;
    bottom: -420px;
    text-decoration: underline;
    color: #5E8C61;
    flex-wrap: wrap;
}

.contact-me p {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    bottom: -550px;
    left: 600px;
    font-weight: bold;
    font-size: larger;
    color: #5E8C61;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-width: 500px;
}

.contact-me ul {
    text-decoration: underline;
    line-height: 100px;
    font-weight: bold;
    font-size: 200%;
    position: absolute;
    bottom: -1075px;
    left: 600px;
    color: #F3F7F0;
    min-height: 500px;
    min-width: 600px;
}

.scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #5E8C61;
}

.scroll-to-top:hover {
    background-color: #F3F7F0;
    opacity: 0.15;
}

footer p {
    font-size: 130%;
    position: absolute;
    bottom: -1025px;
    left: 15px;
    margin-left: 20px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    h2 {
        left: 750px;
        top: -59px;
        color: #5E8C61;
        font-size: 50px;
    }
    
    .bg-image {
        background-size: 768px 350px;
        
    }

    #about-me {
        max-height: 50%;t
        
    }
    .about-me-title{
        width:100%
    }

    .css-bg-image {
        top: 1000px;
    }

    .image-one {
        top: -25px;
        left: 25px;
    }

    .image-two {
        top: -20px;
        ]
    }

    #contact p {
        font-size: 30px;
    }

    .contact-me ul {
        top: 1600px;
        line-height: 60px;
    }

}

@media screen and (max-width: 412px) {

    h2 {
        left: 530px;
    }

    .bg-image {
        background-size: 612px 400px;
        min-width: 700px;
    }

    .about-me-title {
        max-width: 100px;
    }

    .about-me p {
        left: 630px;
    }

    .my-work {
        top: 1200px;
    }

    .css-bg-image {
        top: 1400px;
        left: 500px;
    }

    .image-one {
        left: 50px;
    }

    .contact-me-title {
        top: 1900px;
    }

    #contact p {
        top: 2200px;
    }

    .contact-me ul {
        top: 2400px;
    }

    footer p {
        top: 2800px;
    }
    
}

@media screen and (max-width:384px) {
    h2 {
        left: 530px;
    }

    .bg-image {
        background-size: 612px 400px;
        min-width: 700px;
    }

    .about-me-title {
        max-width: 100px;
    }

    .about-me p {
        left: 630px;
    }

    .my-work {
        top: 1200px;
    }

    .css-bg-image {
        top: 1400px;
        left: 500px;
    }

    .contact-me-title {
        top: 1900px;
    }

    #contact p {
        top: 2200px;
    }

    .contact-me ul {
        top: 2400px;
    }

    footer p {
        top: 2800px;
    }
    
}
