header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #19323C;
    color: #F3F7F0;
    height: 120px;
}

h1 {
    display: flex;
    font-size: 300%;
    background-color: #5E8C61;
    color: #F3F7F0;
    position: relative;
    padding-left: 125px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    right: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 600px;
}

nav a {
    color: #F3F7F0;
    font-weight: bold;
    text-decoration: none;
    font-size: 175%;
}

h2 {
    display: flex;
    font-size: 250%;
    position: relative;
    color: #F3F7F0;
    left: 1300px;
    top: 125px;
}

.bg-image {
    background-image: url("https://i.imgur.com/BB7Uwrp.jpg");
    padding: 150px;
    background-repeat: no-repeat;
    background-size: 225vh 60vh;
}

.about-me p {
    height: 100px;
    width: 1000px;
    background-color: #F3F7F0;
    color: #19323C;
    box-sizing: border-box;
    line-height: 120%;
    position: relative;
    left: 750px;
}

 .about-me-title {
    font-size: 550%;
    position: relative;
    left: 50px;
    margin-top: 25px;
    text-decoration: underline;
    color: #19323C;
}